@media screen and (max-width: 1200px) {
        
    .plans{
        display: none;
    }

    .poster .poster-content{
        width:  400px;
        top: 25px;
        left: 50px;
    }

    .poster .left-arrow,.right-arrow{
        display: none;
    }

}

@media screen and (max-width: 980px) {
    .business{
        display: none;
    }

    .poster .poster-content{
        width:  340px;
        top: 25px;
        left: 50px;
    }

    .poster .poster-content h1{
        font-size: 26px;
    }

    .poster .poster-content p{
        font-size: 13px;
    }

}


@media screen and (max-width: 800px) {
    .categories,.search,.teach,.acc-btns{
        display: none;
    }

    nav{
        justify-content: space-between;
    }

    nav img{
        max-width: 75px;
        margin-left: 45px;
    }

    .search-icon-toggle{
        display: block;
    }

    .menu{
        display: block;
    }
    nav img{
        width: 15%;
    }
    
}


@media screen and (max-width: 700px) {
    .poster img{
        min-width: 100vh;
        height: 250px;
    }
    .poster .poster-content{
        display: none;
    }

    .toggle-poster-content{
        display: block;
        padding: 10px 25px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: relative;

    }

    .toggle-poster-content h1{
        font-size: 28px;
        color: rgba(0, 0, 0, 0.849);
    }

    .toggle-poster-content p{
        color: rgba(0, 0, 0, 0.699);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
    }

    .toggle-poster-content input{
        margin-top: 45px;
        padding: 15px;
        border: 1px solid black;
        margin-bottom: 60px;
    }

    .toggle-poster-content input::placeholder{
        font-size: 15px;
    }

    .toggle-poster-content .toggle-search{
        position: absolute;
        bottom: 80px;
        right: 40px;
        font-size: 23px;
    }

    

    .banner-bottom h1{
        font-size: 24px;
    }

    .banner-bottom p{
        font-size: 16px;
    }
}


@media screen and (max-width: 600px){
    .course-content{
        background-color: white;
    }
    .course-category .first{
        min-width: 100%;
        border: none;
        display: flex;
        justify-content: space-between;
    }   

    .course-category .first h4{
        font-size: 20px;
    }

    .toggle-arrow{
        display: block;
        color: black;
        font-size: 20px;
    }
}